/* Examples of modifiers than you can create*/
.radial--blue circle {
  stroke: blue; }

.radial--lazy circle {
  -ms-transition: stroke-dashoffset 5s linear;
  -webkit-transition: stroke-dashoffset 5s linear;
  -moz-transition: stroke-dashoffset 5s linear;
  transition: stroke-dashoffset 5s linear; }
  
.radial {
  margin: 10px; }